name: PR Summary Generator

on:
  pull_request:
    branches: [master]

jobs:
  pr_summary:
    runs-on: ubuntu-latest
    name: PR Summarizer
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Summarize PR with AI
        uses: behrouz-rad/ai-pr-summarizer@v1
        with:
          llm-model: 'deepseek-coder-v2:latest'
          prompt-file: ./assets/prompt-file.txt
          models-file: ./assets/models-file.txt
          version-file: ./assets/version-file.txt
          context-window: 4096  # Optional: Adjust based on model limits
          context-lines: 10     # Optional: Lines of context around changes in diffs
          upload-changes: true  # Optional: Uploads the diff as an artifact for debugging
          fail-on-error: true   # Optional: Fails the workflow on errors
          token: ${{ github.token }}  # Uses the default GitHub token for commenting on PRs
